section {
 	margin-top: 10px;
 }

i {
    cursor: pointer;
}

.display {
	margin-bottom: 0;
}

.headTitle {
	align-items: center;
}
.items {
	margin-bottom: 0.3rem;
}
#title {
	border-color: #33b35a;
}
#title:focus {
    border-color: #80bfff;
}