section {
 	margin-top: 10px
 }
 .pagination /deep/ .ngx-pagination {
  .current {
    background: #33B357;
  }
  .pagination-previous a:before, .pagination-previous.disabled:before {
    content: '';
  }
  .pagination-next a:after, .pagination-next.disabled:after {
    content: '';
  }
}

  