<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form class="form-group">
        <div class="names-block">
          <div>
            <input class="form-control" type="text" name="lastname" placeholder="Прізвище...">
            <input class="form-control" type="text" name="firstname" placeholder="Ім'я...">
          </div>
          <input class="form-control" type="text" name="fname" placeholder="По-батькові...">
        </div>
        <div class="select-block">
          <div>
            <select class="form-control" name="faculty" aria-placeholder="Факультет..." #facultyField (change)="getGroups(facultyField)">
              <option *ngFor="let faculty of faculties">{{faculty.faculty_name}}</option>
            </select>
            <select class="form-control" name="group" aria-placeholder="Група..." >
              <option *ngFor="let group of groups">{{group.group_name}}</option>
            </select>
          </div>
          <input class="form-control" type="text" name="gradebook" placeholder="№ заліковки...">
        </div>
        <div class="security-block">
          <div>
              <input class="form-control" type="text" name="login" placeholder="Логін...">
              <input class="form-control" type="password" name="password" placeholder="Пароль...">
          </div>
          <input class="form-control" type="email" name="email" placeholder="Поштова скринька...">
        </div>
        <div class="buttons-block">
          <input class="btn btn-success" type="submit" value="Додати студента"> 
          <input class="btn btn-danger" type="reset" value="Очистити форму">
        </div>
      </form>
    </div>
  </div>
</div>
