<div class="container-fluid">
  <header class="row">
    <div class="card col-12">
      <div class="card-header h1 d-flex justify-content-center">
        <h2>Ви проходите {{nameOfTest}}</h2>
      </div>
    </div>
  </header>
  <div class="row">
    <section class="card col-sm-8">
      <div class="card-body d-flex justify-content-center">
        <form class="test-form">
          <div [ngSwitch]="question.type">
            <div *ngSwitchCase="1">
              <span class="test-question">{{index}}. {{question.question_text}}</span>
              <ul>
                <li *ngFor="let answer of question.answers">
                  <label class="form-control-custom">
                    <input
                      type="radio"
                      [value]="answer"
                      name="question{{question.question_id}}"
                      [(ngModel)]="userAnswers[question.question_id]"
                    >
                    {{answer.answer_text}}
                  </label>
                </li>
              </ul>
              <div class="line"></div>
            </div>
            <div *ngSwitchDefault>
              <span>another type of question</span>
            </div>
          </div>
          <button class="btn btn-primary" (click)="quetionRoute(index+1)">Наступний</button>
        </form>
      </div>
    </section>

    <aside class="col-sm-4">
      <div class="row studentInfo">
        <div class="col-sm-12 photo d-flex justify-content-center">
          <img [src]="student[0].photo" alt="" width="200px" height="200px">
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
          <span>{{student[0].student_fname}} {{student[0].student_name}} {{student[0].student_surname}}</span>
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
          <span>Залікова книжка: {{student[0].gradebook_id.toLocaleUpperCase()}}</span>
        </div>
      </div>
      <hr>
      <div class="row questionsRoute">
        <div class="col-sm-12 d-flex justify-content-center">
          <span class="question"
                *ngFor="let q of questions; let i = index; "
                (click)="quetionRoute(i)"
                [ngClass]="{
                         'questionSelected': i === (index-1)
                         }">{{i+1}}</span>
        </div>
      </div>
      <hr>
      <!-- ********* TIMER ***********-->
      <div class="row">
        <div class="col-sm-12 timer-wrapper d-flex justify-content-center">
        <span class="timer"
              [ngClass]="{
          'yellow': timer.minutes < 10,
          'red': timer.minutes < 2
          }"> <span class="timeLeft">Часу залишилось:</span>
      {{timer.hours}}:{{timer.minutes}}:{{timer.seconds}}
        </span>
        </div>


        <!--<div class="row col-sm-12 d-flex justify-content-center">-->
        <!--<button style="width: 80px; margin: 5px;" class="btn btn-secondary " (click)="Back()"><&#45;&#45; Back</button>-->
        <!--<button style="width: 80px; margin: 5px;" class="btn btn-warning " (click)="stopTimer()">StopTimer</button>-->
        <!--</div>-->

      </div>
      <!-- ********* TIMER ***********-->
      <div class="row">
        <div class="col-sm-12  finishTest d-flex justify-content-center">
          <button class="btn btn-primary" (click)="finishTest()">Закінчити тест</button>
        </div>
      </div>
    </aside>

  </div>
</div>
