<div class="container-fluid">
  <header class="row">
    <div class="card col-12">
      <div class="card-header h1 d-flex justify-content-center">
        <h2>Ви проходите {{nameOfTest}}</h2>
      </div>
    </div>
  </header>
  <div class="row">
    <section class="card col-md-8">
      <div class="card-body d-flex justify-content-center">
        <form class="test-form">
          <div [ngSwitch]="question.type">
            <div *ngSwitchCase="1">
              <div class="test-question">{{Index}}. {{question.question_text}}</div>
              <ul>
                <li *ngFor="let answer of question.answers">
                  <label class="form-control-custom">
                    <input
                      type="radio"
                      [value]="answer"
                      name="question{{question.question_id}}"
                      [(ngModel)]="userAnswers[question.question_id]"
                    >
                    {{answer.answer_text}}
                  </label>
                </li>
              </ul>
              <div class="line"></div>
            </div>
            <div *ngSwitchCase="2">
              <div class="test-question">{{Index}}. {{question.question_text}}</div>
              <ul>
                <li *ngFor="let answer of question.answers;">
                  <label>
                    <input
                      type="checkbox"
                      [value]="answer.answer_id"
                      name="question{{question.question_id}}"
                      (change)="sendAnswers(question, answer)"
                    >
                    {{answer.answer_text}}
                  </label>
                </li>
              </ul>
              <div class="line"></div>
            </div>
            <div *ngSwitchCase="3">
              <div class="test-question">{{Index}}. {{question.question_text}}</div>
              <input
                #answer
                type="text"
                name="question{{question.question_id}}"
                (blur)="sendAnswers(question, answer.value)"
              >
              <div class="line"></div>
            </div>
            <div *ngSwitchCase="4">
              <div class="test-question">{{Index}}. {{question.question_text}}</div>
              <input
                #answer
                type="text"
                name="question{{question.question_id}}"
                (blur)="sendAnswers(question, answer.value)"
              >
              <div class="line"></div>
            </div>
          </div>
        </form>
        <div class="arrow-nav">
          <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
              <i class="fa fa-arrow-left" aria-hidden="true" (click)="prevQuestion(Index)"></i>
             <pre> </pre>
             <i class="fa fa-arrow-right" aria-hidden="true" (click)="nextQuestion(Index)"></i>
            </div>
         </div>
        </div>
      </div>
    </section>

    <aside class="col-md-4">
      <div class="row studentInfo">
        <div class="col-sm-12 photo d-flex justify-content-center">
          <img [src]="student[0].photo" alt="" width="200px" height="200px">
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
          <span>{{student[0].student_fname}} {{student[0].student_name}} {{student[0].student_surname}}</span>
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
          <span>Залікова книжка: {{student[0].gradebook_id.toLocaleUpperCase()}}</span>
        </div>
      </div>
      <hr>
      <div class="row">
        <!--<div class="col-4 col-sm-3"></div>-->
        <div class="flex-questions col-12 d-flex justify-content-center">
          <div class="questions-wrap">
          <span class="question"
                *ngFor="let q of questions; let i = index; "
                (click)="questionRoute(i)"
                [ngClass]="{
                         'questionSelected': i === (Index-1),
                         'question0-9': i<9
                         }">{{i+1}}
          </span>
          </div>
        </div>
        <!--<div class="col-4 col-sm-3"></div>-->
      </div>
      <hr>

      <!-- ********* TIMER ***********-->
      <div class="row">
        <div class="col-sm-12 timer-wrapper d-flex justify-content-center">
        <span class="timer"
              [ngClass]="{
          'yellow': timer.minutes < 10,
          'red': timer.minutes < 2
          }"> <span class="timeLeft">Часу залишилось:</span>
      {{timer.hours}}:{{timer.minutes}}:{{timer.seconds}}
        </span>
        </div>


      </div>
      <!-- ********* TIMER ***********-->
      <div class="row">
        <div class="col-sm-12  finishTest d-flex justify-content-center">
          <button class="btn btn-primary" (click)="finishTest()">Закінчити тест</button>
        </div>
      </div>
    </aside>

  </div>
</div>
