div,
span {
  color: #666;
}

.card-test {
  padding: 10px 15px;
}

.test-question {
  margin-bottom: 30px;
  text-align: left;
}

li {
  margin-left: 1em;
}

.question-lvl {
  margin: auto 0;
}

.timer {
  font-weight: 700;
  margin-right: 1em;
}

.timer > span {
  font-size: 14px;
  font-weight: 400;
}

.timer.yellow {
  color: rgba(191, 175, 0, 0.64);
}

.timer.red {
  color: rgba(255, 0, 0, 0.64);
}

.test-info {
  float: right;
  text-align: center;
}

@media (max-width: 768px) {
  .test-info {
    float: left;
  }
}

.test-form {
  margin: auto 10%;
}

.test-btn {
  margin-bottom: 10px;
}

.question {
  margin: 5px;
  padding: 4px 1px;
  border: 2px solid grey;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 768px) {
  .question {
    float: left;
  }
}

.questions-wrap {
  width: 200px;
}

.question:hover {
  color: green;
  cursor: pointer;
  border: 2px solid green;
}

.questionsSelected {
  color: #fff;
  background-color: #868e96;
}

.questionSelected {
  box-sizing: border-box;
  border: 2px solid green;
}

.timeLeft {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  margin: auto;
}

.finishTest {
  margin: auto;
}

.timeLeft {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  margin: auto;
}

.finishTest {
  margin: auto;
}

.arrow-nav {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 2px 5px;
}

span.fa {
  padding: 2px 5px;
}

span.fa:hover {
  color: #33b35a;
  cursor: pointer;
  border-radius: 3px;
}

.separate {
  width: 5%;
}

.test-pagination {
  margin: 20px 0;
}

.test-answer {
  padding-left: 45px;
}

.answer-input {
  margin-left: 30px;
}

.answer-img {
  max-height: 250px;
  margin-bottom: 30px;
}

.question-img {
  max-height: 250px;
  margin-left: 30px;
}
