        div,
span {
    color: #666;
}

.studentInfoWrap {
    display: flex;
}

.studentInfo {
    margin: auto 0;
}

.test-question {
    text-align: center;
}

li {
    margin-left: 1em;
}

.question-lvl {
    margin: auto 0;
}

<<<<<<< HEAD .timer {
    font-weight: 700;
    font-size: 1.4em;
    margin: auto 1em;
    =======.timer {
        font-weight: 700;
        font-size: 1.4em;
        margin: auto 1em;
    }
    .timer>span {
        font-size: 14px;
        font-weight: 400;
        >>>>>>>delete coment code
    }
    .timer.yellow {
        color: rgba(191, 175, 0, 0.64);
    }
    .timer.red {
        color: rgba(255, 0, 0, 0.64);
    }
    .test-form {
        margin: auto 10%;
    }
    .question {
        border: 2px solid grey;
        width: 30px;
        height: 30px;
        margin: 5px;
        border-radius: 3px;
        padding: 4px 1px;
        font-weight: 800;
    }
    .flex-questions {
        display: flex;
        justify-content: space-around;
    }
    .questions-wrap {
        width: 200px;
    }
    <<<<<<< HEAD .questions-wrap {
        width: 200px;
        =======.question:hover {
            color: green;
            cursor: pointer;
            border: 2px solid green;
            >>>>>>>delete coment code
        }
        .questionsSelected {
            color: #fff;
            background-color: #868e96;
        }
        .questionSelected {
            box-sizing: border-box;
            border: 2px solid green;
        }
        span {
            text-align: center;
        }
        .timeLeft {
            font-weight: 400;
            font-size: 14px;
            color: #666;
            margin: auto;
        }
        .finishTest {
            margin: auto;
        }
        .timeLeft {
            font-weight: 400;
            font-size: 14px;
            color: #666;
            margin: auto;
        }
        .finishTest {
            margin: auto;
        }
        .arrow-nav {
            position: absolute;
            bottom: 10px;
            display: block;
            width: 100%;
            padding: 2px 5px;
        }
        span.fa {
            padding: 2px 5px;
        }
        span.fa:hover {
            color: #33b35a;
            cursor: pointer;
            border-radius: 3px;
        }
        .separate {
            width: 5%;
        }