header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.125);
    padding: 0.8rem;
    h1 {
        margin: 0;
    }
}
.pagination /deep/ .ngx-pagination {
    .current {
      background: #33B357;
    }
    .pagination-previous a:before, .pagination-previous.disabled:before {
      content: '';
    }
    .pagination-next a:after, .pagination-next.disabled:after {
      content: '';
    }
  }