<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <header class="form-row justify-content-between mb-2">
        <h2 class="pl-1" *ngIf="formData.timetable_id">{{'ADMIN.SC.EDIT' | translate}}</h2>
        <h2 class="pl-1" *ngIf="!formData.timetable_id">{{'ADMIN.SC.ADD' | translate}}</h2>
        <i class="fa fa-close pr-1" (click)="onNoClick()"></i>
    </header>
    <div class="form-row">
        <div class="form-group col-lg-4">
            <label>{{'ADMIN.GROUP.NAME' | translate}}</label>
            <select name="account" class="form-control col-md-12" [(ngModel)]="formData.group_id" formControlName="group">
                <option value="">{{'ADMIN.CHOOSEG' |translate}}</option>
                <option *ngFor="let group of data.groups" [value]="group.group_id">{{group.group_name}}</option>
            </select>
            <div class="form-msg">
                <small *ngIf="form.get('group').invalid && (form.get('group').dirty || form.get('group').touched)">
                <span *ngIf="form.get('group').hasError('required')">{{'REQUIRED' | translate}}</span>
            </small>
            </div>
        </div>
        <div class="form-group col-lg-8">
            <label>{{'ADMIN.SUBJ.NAME' | translate}}</label>
            <select name="account" class="form-control col-md-12" [(ngModel)]="formData.subject_id" formControlName="subject" required>
                <option value="">{{'ADMIN.CS' | translate}}</option>
                <option *ngFor="let subject of data.subjects" [value]="subject.subject_id">{{subject.subject_name}}</option>
            </select>
            <div class="form-msg">
                <small *ngIf="form.get('subject').invalid && (form.get('subject').dirty || form.get('subject').touched)">
                <span *ngIf="form.get('subject').hasError('required')">{{'REQUIRED' | translate}}</span>
            </small>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>{{'SD' | translate}}</label>
            <input type="date" id="date" class="form-control col-md-12" [(ngModel)]="formData.start_date" formControlName="startDate">
            <div class="form-msg">
                <small *ngIf="form.get('startDate').invalid && (form.get('startDate').dirty || form.get('startDate').touched)">
                    <span *ngIf="form.get('startDate').hasError('required')">
                            {{'REQUIRED' | translate}}
                    </span>
                    <span *ngIf="form.get('startDate').hasError('invalidDate')">
                        {{'DD' | translate}}
                    </span>
            </small>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="time">{{'ST' | translate}}</label>
            <input type="time" id="time" class="form-control  col-md-12" [(ngModel)]="formData.start_time" formControlName="startTime">
            <div class="form-msg">
                <small *ngIf="form.get('startTime').invalid && (form.get('startTime').dirty || form.get('startTime').touched)">
                <span *ngIf="form.get('startTime').hasError('required')">{{'REQUIRED' | translate}}</span>
            </small>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="date">{{'DE' | translate}}</label>
            <input type="date" id="date" class="form-control col-md-12" [(ngModel)]="formData.end_date" formControlName="endDate">
            <div class="form-msg">
                <small *ngIf="form.get('endDate').invalid && (form.get('endDate').dirty || form.get('startDate').touched)">
                    <span *ngIf="form.get('endDate').hasError('required')">
                            {{'REQUIRED' | translate}}
                    </span>
                    <span *ngIf="form.get('endDate').hasError('earlierThanStartDate')">
                        {{'RD' | translate}}
                    </span>
                </small>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="time">{{'TE' | translate}}</label>
            <input type="time" id="time" class="form-control col-md-12" [(ngModel)]="formData.end_time" formControlName="endTime">
            <div class="form-msg">
                <small *ngIf="form.get('endTime').invalid && (form.get('endTime').dirty || form.get('endTime').touched)">
                <span *ngIf="form.get('endTime').hasError('required')">{{'REQUIRED' | translate}}</span>
            </small>
            </div>
        </div>
    </div>
    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-sm-6 col-md-4">
            <input class="btn btn-danger col-sm-12" type="button" value="{{'ADMIN.STUD.FCLEAR' | translate}}" (click)="onReset()">
        </div>
        <div class="form-group col-sm-6 col-md-4">
            <input *ngIf="formData.timetable_id" type="submit" class="btn btn-success col-sm-12" [disabled]="!form.valid" value="{{'EDIT' | translate}}">
            <input *ngIf="!formData.timetable_id" type="submit" class="btn btn-success col-sm-12" [disabled]="!form.valid" value="{{'ADMIN.SUBMIT' | translate}}">
        </div>
    </div>
</form>