.wrapper {
    background: white url(/assets/adobestock_68948606.jpg) center;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-input-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 40%;
    max-width: 400px;
}

.mat-form-field {
    width: 100%;
}

#submit {
    float: right;
    width: 50%;
    max-width: 150px;
    min-width: 30px;

}
.mat-input-container mat-card {
  background-color: #ffffffbf;
  border: 1px solid black;
  border-radius: 5px;
    mat-card {
      background-color: #ffffff00;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

.mat-input-container mat-divider {
    position: relative;
    margin-top: 5px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}

.mat-input-container h1 {
    text-align: center;
    color: #28a745
}

#error {
    height: 1rem;
    text-align: center;
    margin-top: 1rem;
    color: red;
}

.mat-raised-button.mat-primary[disabled] {
    background-color: #4caf50b5;
    color: black;
}

input.ng-touched.ng-invalid {
  border:0;
}

@media (max-width: 667px) {
  .mat-input-container {
    width: 270px;
  }
  .mat-form-field {
  width: 90%;
  }
}

