.mat-input-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 40%;
    max-width: 400px;
}

.mat-form-field {
    width: 100%;
}

#submit {
    float: right;
    width: 50%;
    max-width: 150px;
    min-width: 30px;

}