<div class="wrapper">
    <div  class="mat-input-container">
        <mat-card>
            <mat-card >
                <h1> Welcome to D-tester</h1>
            </mat-card>
            <form [formGroup]="loginForm" (keydown.enter)="submit()">
                <div id="error"></div>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input autocomplete="on" id="login" formControlName="username" matInput placeholder="vasyapupkin" name="username" >
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        This field must not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input autocomplete="on" id="password" formControlName="password" name="password" type="password" matInput placeholder="Password" >
                    <mat-hint *ngIf="loginForm.get('password').hasError('minlength')">Password length must be not less than 8 symbols</mat-hint>
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        This field must not be empty
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
                        Password length must be not less than 8 symbols
                    </mat-error>
                </mat-form-field>
                <button id="submit" type="button" (click)="submit()" [disabled]="loginForm.invalid" mat-raised-button color="primary">Sign In</button>
            </form>
        </mat-card>
</div>
</div>