
<div  class="mat-input-container">

  <mat-card style="background-color: #0000000a;">
    <mat-card style="background-color: #0000000a; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);"><h1 style="color: #28a745"> Welcome to D-tester</h1></mat-card>

    <div id="error"></div>
  <mat-form-field >
    <input id="login" name="username" [(ngModel)]="auth1.username" matInput placeholder="Login">
  </mat-form-field>

  <mat-form-field >
    <input id="password" type="password" (keyup.enter)="submit()" [(ngModel)]="auth1.password" [(ngModel)]="auth1.confirm_password" matInput placeholder="Password">
  </mat-form-field>

  <button id="submit" (click)="submit()"  mat-raised-button color="primary">Sign In</button>

  </mat-card>



</div>