.delete-confirm {
    display: flex;
    flex-direction: column;
    .top,
    .middle,
    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            text-align: center;
        }
    }
    .bottom {
        .btn {
            width: 100px;
            margin: {
                left: 5px;
                right: 5px;
            }
        }
    }
}