mat-dialog-content{
    width: 100%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.mat-button{
    color:white;
}

.close{
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}
header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.close[_ngcontent-c7]{
    border: 1px solid white;
}