<div [ngSwitch]="data.editing">
  <!-- Редагування студента -->
  <div *ngSwitchCase="true" class="container-fluid">
    <div class="header raw d-flex justify-content-between">
        <h1>Редагування студента</h1>
        <button class="btn" type="button" (click)="handleClose()">Назад</button>
    </div>
    <div class="row">
      <div class="col">
        <!-- Форма додавання студента -->
        <form class="form-group" 
          [formGroup]="form" 
          (submit)="handleSubmit(form.value)">
          <div class="form-row">
            <div class="form-group col-6">
              <!-- Прізвище -->
              <label>Прізвище</label>
              <input 
                class="form-control col-12" 
                type="text" 
                formControlName="surname" 
                [(ngModel)]="student.student_surname"
                name="surname" placeholder="Прізвище...">
              <div 
                *ngIf="form.get('surname').invalid && (form.get('surname').dirty || form.get('surname').touched)" 
                class="error col-12">
                <span *ngIf="form.get('surname').errors.minlength">Мінімум 2 символи</span>
                <span *ngIf="form.get('surname').errors.required">Це поле є обов'язковим</span>
              </div>
            </div>
            <!-- Ім'я -->
            <div class="form-group col-6">
                <label>Ім'я</label>
              <input 
                class="form-control col-12" 
                type="text" 
                formControlName="firstname" 
                name="firstname" 
                [(ngModel)]="student.student_name"
                placeholder="Ім'я...">
              <div 
                *ngIf="form.get('firstname').invalid && (form.get('firstname').dirty || form.get('firstname').touched)" 
                class="error col-12">
                <span *ngIf="form.get('firstname').errors.minlength">Мінімум 2 символи</span>
                <span *ngIf="form.get('firstname').errors.required">Це поле є обов'язковим</span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <!-- По-батькові -->
              <label>По-батькові</label>
              <input 
              class="form-control col-12" 
              type="text" 
              formControlName="fname" 
              name="fname" 
              [(ngModel)]="student.student_fname"
              placeholder="По-батькові...">
              <div 
                *ngIf="form.get('fname').invalid && (form.get('fname').dirty || form.get('fname').touched)" 
                class="error col-12">
                <span *ngIf="form.get('fname').errors.minlength">Мінімум 2 символи</span>
                <span *ngIf="form.get('fname').errors.required">Це поле є обов'язковим</span>
              </div>
            </div>
          </div>
          <div>
            <!-- While creating a student -->
            <span *ngIf="!data.updating" class="form-row">
              <div class="form-group col-6">
                <!-- Факультет -->
                <label>Факультет</label>
                <select 
                  class="form-control col-12" 
                  id="facultySelect" 
                  name="faculty" 
                  formControlName="faculty"
                  #facultyField 
                  (change)="getGroups(facultyField)">
                  <option [selected]="true">Виберіть факультет</option>
                  <option *ngFor="let faculty of faculties">{{faculty.faculty_name}}</option>
                </select>
              </div>
              <div class="form-group col-6">
                <!-- Група -->
                <label>Група</label>
                <select 
                  class="form-control col-12" 
                  id="groupsSelect" 
                  name="group" 
                  formControlName="group"
                  #groupField (change)="handleSetGroup(groupField)">
                  <option [selected]="true">Виберіть групу</option>
                  <option *ngFor="let group of groups">{{group.group_name}}</option>
                </select>
              </div>
            </span>
            <!-- While updating student's data -->
            <span *ngIf="data.updating" class="form-row">
              <div class="form-group col-6">
                <!-- Факультет -->
                <label>Факультет</label>
                <select 
                  class="form-control col-12" 
                  id="facultySelect" 
                  name="faculty" 
                  #facultyField 
                  (change)="getGroups(facultyField)">
                  <option 
                    *ngFor="let faculty of faculties" 
                    [selected]="faculty.faculty_name === studentFaculty.faculty_name">
                      {{faculty.faculty_name}}
                  </option>
                </select>
              </div>
              <div class="form-group col-6">
                <!-- Група -->
                <label>Група</label>
                <select 
                  class="form-control col-12" 
                  id="groupsSelect" 
                  name="group" 
                  formControlName="group" 
                  #groupField 
                  (change)="handleSetGroup(groupField)">
                  <option 
                    *ngFor="let group of groups"
                    [selected]="group.group_name === studentGroup.group_name">
                      {{group.group_name}}
                  </option>
                </select>
              </div>
            </span>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <!-- Номер заліковки -->
              <label>Номер заліковки</label>
              <input 
              class="form-control col-12" 
              type="text" 
              formControlName="gradebook" 
              name="gradebook" 
              [(ngModel)]="student.gradebook_id"
              placeholder="№ заліковки...">
              <div 
                *ngIf="form.get('gradebook').invalid && (form.get('gradebook').dirty || form.get('gradebook').touched)" 
                class="error col-12">
                <span *ngIf="form.get('gradebook').errors.minlength">Мінімум 6 символів</span>
                <span *ngIf="form.get('gradebook').errors.required">Це поле є обов'язковим</span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <!-- Логін -->
              <label>Логін</label>
              <input 
                class="form-control col-12" 
                type="text" 
                formControlName="login" 
                name="login" 
                [(ngModel)]="studentInfo.username"
                placeholder="Логін...">
                <div 
                  *ngIf="form.get('login').invalid && (form.get('login').dirty || form.get('login').touched)" 
                  class="error col-12">
                  <span *ngIf="form.get('login').errors.minlength">Мінімум 5 символів</span>
                  <span *ngIf="form.get('login').errors.required">Це поле є обов'язковим</span>
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <!-- Пароль -->
              <label>Пароль</label>
              <input 
                class="form-control col-12" 
                type="password" 
                formControlName="password" 
                name="password" 
                #passwordInput
                [(ngModel)]="student.plain_password"
                placeholder="Пароль...">
                <i class="visibility-toggler fa fa-eye" aria-hidden="true" (click)="handleTogglePasswordVisibility(passwordInput)"></i>
                <div 
                  *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)" 
                  class="error col-12">
                  <span *ngIf="form.get('password').errors.minlength">Мінімум 8 символів</span>
                  <span *ngIf="form.get('password').errors.required">Це поле є обов'язковим</span>
                </div>
            </div>
            <div id="password_confirm" class="form-group col-6">
              <!-- Підтвердження паролю -->
              <label>Підтвердити пароль</label>
              <input 
                class="form-control col-12" 
                type="password" 
                formControlName="password_confirm" 
                name="password_confirm" 
                #passwordConfirmInput
                [(ngModel)]="student.password_confirm"
                placeholder="Підтвердити пароль...">
                <i class="visibility-toggler fa fa-eye" aria-hidden="true" (click)="handleTogglePasswordVisibility(passwordConfirmInput)"></i>
                <div 
                  *ngIf="form.get('password_confirm').invalid && (form.get('password_confirm').dirty || form.get('password_confirm').touched)" 
                  class="error col-12">
                  Це поле повинно збігатись з полем "Пароль"
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <!-- Пошта -->
              <label>Поштова скринька</label>
              <input 
              class="form-control col-12" 
              type="email" 
              formControlName="email" 
              name="email" 
              [(ngModel)]="studentInfo.email"
              placeholder="Поштова скринька..."
              email>
              <div 
                *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)" 
                class="error col-12">
                <span *ngIf="form.get('email').errors.email">Поштова скринька повинна бути формату логін@домен</span>
                <span *ngIf="form.get('email').errors.required">Це поле є обов'язковим</span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 d-flex align-items-center flex-column">
              <!-- Фото -->
              <img class="user-image" [src]="student.photo" alt="your picture">
              <div class="custom-file">
                  <input 
                    type="file" 
                    id="customFile" 
                    class="custom-file-input"
                    name="image-input"
                    accept="image/*" 
                    (change)="handleAddPhoto($event)">
                  <label class="custom-file-label" for="customFile">Виберіть фото</label>
              </div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center"> 
            <input class="btn btn-danger" type="reset" value="Очистити форму">
            <input class="btn btn-success" type="submit" [disabled]="!form.valid" [value]="data.submitButtonText">
          </div>
        </form>
      </div>
    </div>
  </div>
    <!-- Розширена інформація -->
  <div *ngSwitchCase="false" class="container-fluid">
    <div class="header raw d-flex justify-content-between">
      <h1>Детальна інформація</h1>
      <button class="btn" type="button" (click)="handleClose()">Назад</button>
    </div>
    <div class="row">
      <div class="col">
        <!-- Інфо про студента -->
          <div class="form-group">
            <div class="form-row">
                <div class="form-group col-12 d-flex align-items-center flex-column">
                  <!-- Фото -->
                  <img class="user-image" [src]="student.photo" alt="your picture">
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <!-- Прізвище -->
                <label>Прізвище</label>
                <span class="form-control col-12">{{student.student_surname}}</span>
              </div>
              <div class="form-group col-6">
                <!-- Ім'я -->
                <label>Ім'я</label>
                <span class="form-control col-12">{{student.student_name}}</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <!-- По-батькові -->
                <label>По-батькові</label>
                <span class="form-control col-12">{{student.student_fname}}</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <!-- Факультет -->
                <label>Факультет</label>
                <span class="form-control col-12">{{studentFaculty.faculty_name}}</span>
              </div>
              <div class="form-group col-6">
                <!-- Група -->
                <label>Група</label>
                <span class="form-control col-12">{{studentGroup.group_name}}</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <!-- Номер заліковки -->
                <label>Номер заліковки</label>
                <span class="form-control col-12">{{student.gradebook_id}}</span>
              </div>
            </div>
          <div class="form-row">
            <div class="form-group col-6">
              <!-- Логін -->
              <label>Логін</label>
              <span class="form-control col-12">{{studentInfo.username}}</span>
            </div>
            <div class="form-group col-6">
                <!-- Пошта -->
                <label>Поштова скринька</label>
                <span class="form-control col-12">{{studentInfo.email}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
