<div [ngSwitch]="data.editing">
    <!-- creating or updating student -->
    <div *ngSwitchCase="true" class="container-fluid">
        <div class="header raw d-flex justify-content-between">
            <h1 *ngIf="!data.student">{{'ADMIN.STUD.AS' | translate}}</h1>
            <h1 *ngIf="data.student">{{'ADMIN.STUD.ES' | translate}}</h1>
            <i class="fa fa-close" (click)="handleClose()"></i>
        </div>
        <div class="row">
            <div class="col">
                <form class="form-group" [formGroup]="form" (submit)="handleSubmit(form.value)">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <!-- lastname -->
                            <label>{{'ADMIN.STUD.LASTNAME' | translate }}</label>
                            <input class="form-control col-12" type="text" formControlName="surname" [(ngModel)]="student.student_surname" name="surname" placeholder="{{'ADMIN.STUD.LASTNAME' | translate}}">
                            <div class="form-msg">
                                <div *ngIf="surnameC.invalid && (surnameC.dirty || surnameC.touched)" class="error col-12">
                                    <span *ngIf="surnameC.errors.pattern">{{'ADMIN.WRONG' | translate}}</span>
                                    <span *ngIf="surnameC.errors.required">{{'REQUIRED' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- firstname -->
                        <div class="form-group col-6">
                            <label>{{'ADMIN.STUD.FIRST' | translate}}</label>
                            <input class="form-control col-12" type="text" formControlName="firstname" name="firstname" [(ngModel)]="student.student_name" placeholder="{{'ADMIN.STUD.FIRST' | translate}}">
                            <div class="form-msg">
                                <div *ngIf="firstnameC.invalid && (firstnameC.dirty || firstnameC.touched)" class="error col-12">
                                    <span *ngIf="firstnameC.errors.pattern">{{'ADMIN.WRONG' | translate}}</span>
                                    <span *ngIf="firstnameC.errors.required">{{'REQUIRED' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- Fathers name -->
                            <label>{{'ADMIN.STUD.FATHERS' | translate}}</label>
                            <input class="form-control col-12" type="text" formControlName="fname" name="fname" [(ngModel)]="student.student_fname" placeholder="{{'ADMIN.STUD.FATHERS' | translate}}">
                            <div class="form-msg">
                                <div *ngIf="fnameC.invalid && (fnameC.dirty || fnameC.touched)" class="error col-12">
                                    <span *ngIf="fnameC.errors.pattern">{{'ADMIN.WRONG' | translate}}</span>
                                    <span *ngIf="fnameC.errors.required">{{'REQUIRED' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- While creating a student -->
                        <span *ngIf="!data.updating" class="form-row">
              <div class="form-group col-6">
                <!-- Faculty -->
                <label>{{'ADMIN.FA' | translate}}</label>
                <select 
                  class="form-control col-12" 
                  id="facultySelect" 
                  name="faculty" 
                  formControlName="facultyFC"
                  #facultyField 
                  (change)="getGroups(facultyField)">
                  <option
                    [selected]="true"
                    value="{{'ADMIN.GROUP.CHOOSEF' | translate}}">
                    {{'ADMIN.GROUP.CHOOSEF' | translate}}
                  </option>
                  <option *ngFor="let faculty of faculties">
                    {{faculty.faculty_name}}
                  </option>
                </select>
                <div class="form-msg">
                  <div 
                    *ngIf="facultyC.touched && facultyC.errors?.faculty" 
                    class="error col-12">
                    {{'ADMIN.GROUP.CHOOSEF' | translate}}!
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <!-- Group -->
                <label>{{'GR' | translate}}</label>
                <select 
                  class="form-control col-12" 
                  id="groupsSelect" 
                  name="group" 
                  formControlName="groupFC"
                  #groupField (change)="handleSetGroup(groupField)">
                  <option
                    [selected]="true"
                    value="{{'ADMIN.CHOOSEG' | translate}}'">
                    {{'ADMIN.CHOOSEG' | translate}}
                  </option>
                  <option *ngFor="let group of groups">
                    {{group.group_name}}
                  </option>
                </select>
                <div class="form-msg">
                  <div 
                    *ngIf="groupC.touched && groupC.errors?.group" 
                    class="error col-12">
                    {{'ADMIN.CHOOSEG' | translate}}!
                  </div>                 
                </div>
              </div>
            </span>
                        <!-- While updating student's data -->
                        <span *ngIf="data.updating" class="form-row">
              <div class="form-group col-6">
                <!-- Faculty -->
                <label>{{'STUDENT.FACULTY' | translate}}</label>
                <select 
                  class="form-control col-12" 
                  id="facultySelect" 
                  name="faculty" 
                  formControlName="facultyFC"
                  #facultyField 
                  (change)="getGroups(facultyField)">
                  <option 
                    *ngFor="let faculty of faculties"
                    [selected]="faculty.faculty_name === studentFaculty.faculty_name">
                      {{faculty.faculty_name}}
                  </option>
                </select>
                <div class="form-msg">
                  <div 
                    *ngIf="facultyC.touched && facultyC.errors?.faculty" 
                    class="error col-12">
                    {{'ADMIN.GROUP.CHOOSEF' | translate}}!
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <!-- Group -->
                <label>{{'GR' | translate}}</label>
                <select 
                  class="form-control col-12" 
                  id="groupsSelect" 
                  name="group" 
                  formControlName="groupFC"
                  #groupField
                  [(ngModel)]="chooseGroup"
                  (change)="handleSetGroup(groupField)">
                  <option
                    value="{{'ADMIN.CHOOSEG' | translate}}">
                    {{'ADMIN.CHOOSEG' | translate}}
                  </option>
                  <option 
                    *ngFor="let group of groups"
                    [selected]="group.group_name === studentGroup.group_name">
                      {{group.group_name}}
                  </option>
                </select>
                <div class="form-msg">
                  <div 
                    *ngIf="groupC.touched && (groupC.errors?.group || groupC.errors?.required)" 
                    class="error col-12">
                    {{'ADMIN.CHOOSEG' | translate}}!
                  </div>
                </div>
              </div>
            </span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- Gradebook id -->
                            <label>{{'ADMIN.STUD.GN' | translate}}</label>
                            <input class="form-control col-12" type="text" formControlName="gradebook" name="gradebook" [(ngModel)]="student.gradebook_id" placeholder="{{'ADMIN.STUD.GN' | translate}}">
                            <div class="form-msg">
                                <div *ngIf="gradebookC.invalid && (gradebookC.dirty || gradebookC.touched)" class="error col-12">
                                    <span *ngIf="gradebookC.errors.pattern">{{'ADMIN.WRONG' | translate}}</span>
                                    <span *ngIf="gradebookC.errors.required">{{'REQUIRED' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- Username -->
                            <label>{{'ADMIN.LOGIN' | translate}}</label>
                            <input class="form-control col-12" type="text" formControlName="login" name="login" [(ngModel)]="studentInfo.username" placeholder="{{'ADMIN.LOGIN' | translate}}">
                            <div class="form-msg">
                                <div *ngIf="loginC.invalid && (loginC.dirty || loginC.touched)" class="error col-12">
                                    <span *ngIf="loginC.errors.pattern">{{'ADMIN.WRONG' | translate}}</span>
                                    <span *ngIf="loginC.errors.required">{{'REQUIRED' | translate}}</span>
                                    <span *ngIf="loginC.errors.loginTaken">{{'ADMIN.STUD.TLOGIN' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <!-- Password -->
                            <label>{{'ADMIN.STUD.PASS' | translate}}</label>
                            <input class="form-control col-12" type="password" formControlName="password" name="password" [(ngModel)]="student.plain_password" placeholder="Пароль...">
                            <i class="visibility-toggler fa fa-eye" aria-hidden="true" (click)="handleTogglePasswordVisibility($event)"></i>
                            <div class="form-msg">
                                <div *ngIf="passwordC.invalid && (passwordC.dirty || passwordC.touched)" class="error col-12">
                                    <span *ngIf="passwordC.errors.pattern">{{'ADMIN.WRONG' | translate}}</span>
                                    <span *ngIf="passwordC.errors.required">{{'REQUIRED' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div id="password_confirm" class="form-group col-6">
                            <!-- Password confirm -->
                            <label>{{'ADMIN.STUD.SPASS' | translate}}</label>
                            <input class="form-control col-12" type="password" formControlName="password_confirm" name="password_confirm" [(ngModel)]="student.password_confirm" placeholder="{{'ADMIN.STUD.SPASS' | translate}}">
                            <i class="visibility-toggler fa fa-eye" aria-hidden="true" (click)="handleTogglePasswordVisibility($event)"></i>
                            <div class="form-msg">
                                <div *ngIf="password_confirmC.invalid && password_confirmC.errors.matchOther" class="error col-12">{{'ADMIN.STUD.PASN' | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- Email -->
                            <label>{{'ADMIN.MAIL' | translate}}</label>
                            <input class="form-control col-12" type="email" formControlName="email" name="email" [(ngModel)]="studentInfo.email" placeholder="{{'ADMIN.MAIL' | translate}}" email>
                            <div class="form-msg">
                                <div *ngIf="emailC.invalid && (emailC.dirty || emailC.touched)" class="error col-12">
                                    <span *ngIf="emailC.errors.email">{{'ADMIN.STUD.EFORM' | translate}}</span>
                                    <span *ngIf="emailC.errors.emailTaken">{{'ADMIN.STUD.ETAKEN' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 d-flex align-items-center flex-column">
                            <!-- Photo -->
                            <div>
                                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128" format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" style="max-height: 33vh"
                                    [style.display]="cropperReady ? null : 'none'"></image-cropper>
                            </div>
                            <img [src]="croppedImage ? croppedImage : student.photo" />
                            <!-- <div>
                                <button type="button" class="btn btn-sm button-crop">Обрізати фото</button>
                            </div> -->
                            <div class="custom-file">
                                <input type="file" id="customFile" class="custom-file-input" name="image-input" accept="image/*" (change)="photoChangeEvent($event)">
                                <label class="custom-file-label" for="customFile">{{'ADMIN.STUD.PHOTO' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row d-flex justify-content-center">
                        <input class="btn btn-danger" type="reset" value="{{'ADMIN.STUD.FCLEAR' | translate}}">
                        <input *ngIf="data.student" class="btn btn-success" type="submit" [disabled]="!form.valid" value="{{'EDIT' | translate}}">
                        <input *ngIf="!data.student" class="btn btn-success" type="submit" [disabled]="!form.valid" value="{{'ADMIN.SUBMIT' | translate}}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Extended info -->
    <div *ngSwitchCase="false" class="container-fluid">
        <div class="header raw d-flex justify-content-between">
            <h1>{{'ADMIN.STUD.DETAILS' | translate}}</h1>
            <i class="fa fa-close" (click)="handleClose()"></i>
        </div>
        <div class="row">
            <div class="col">
                <!-- User info -->
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-12 d-flex align-items-center flex-column">
                            <!-- Photo -->
                            <img class="user-image" [src]="student.photo" alt="your picture">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <!-- lastname -->
                            <label>{{'ADMIN.STUD.LASTNAME' | translate}}</label>
                            <span class="form-control col-12">{{student.student_surname}}</span>
                        </div>
                        <div class="form-group col-6">
                            <!-- name -->
                            <label>{{'ADMIN.STUD.FIRST' | translate}}</label>
                            <span class="form-control col-12">{{student.student_name}}</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- fathers name -->
                            <label>{{'ADMIN.STUD.FATHERS' | translate}}</label>
                            <span class="form-control col-12">{{student.student_fname}}</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <!-- faculty -->
                            <label>{{'STUDENT.FACULTY' | translate}}</label>
                            <span class="form-control col-12">{{studentFaculty.faculty_name}}</span>
                        </div>
                        <div class="form-group col-6">
                            <!-- group -->
                            <label>{{'GR' | translate}}</label>
                            <span class="form-control col-12">{{studentGroup.group_name}}</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- gradebook id -->
                            <label>{{'ADMIN.STUD.GN' | translate}}</label>
                            <span class="form-control col-12">{{student.gradebook_id}}</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <!-- username -->
                            <label>{{'ADMIN.LOGIN' | translate}}</label>
                            <span class="form-control col-12">{{studentInfo.username}}</span>
                        </div>
                        <div class="form-group col-6">
                            <!-- email -->
                            <label>{{'ADMIN.MAIL' | translate}}</label>
                            <span class="form-control col-12">{{studentInfo.email}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>