.mat-dialog-container {
    padding: 10px;
}

input.ng-touched.ng-invalid {
    border:solid #DC3545 1px;
}

.btn-success, .btn-danger {
    width: 150px;
    margin: {
        left: 5px;
        right: 5px;
    }
}

.user-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.custom-file {
    width: 200px;
    #customFile {
        cursor: pointer;
    }
}

div.error.col-12 {
    color: #DC3545;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}

#password {
    position: relative;
}

.visibility-toggler {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 30px;
}

.header {
    align-items: center;
    margin-bottom: 10px;
}

label:not(.custom-file-label) {
    margin-bottom: 0;
    font-size: 1rem;
}

.fa.fa-close {
    cursor: pointer;
}