<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="isLoaded">
    <header class="form-row justify-content-between mb-2">
        <h2 class='pl-1' *ngIf="specialitys[0].speciality_id">{{'ADMIN.ES' | translate}}</h2>
        <h2 class='pl-1' *ngIf="!specialitys[0].speciality_id">{{'ADMIN.ASPEC' | translate}}</h2>
        <i class="fa fa-close pr-1" (click)="closeDialog()"></i>
    </header>
    <div class="form-row"
         [ngClass]="{'form-has-error': form.get('code').invalid && (form.get('code').dirty || form.get('code').touched)}">
        <div class="form-group col-12">
            <label>{{'ADMIN.SCODE' | translate}}</label>
            <input type="text" id="code" placeholder="{{'ADMIN.SCODE' | translate}}" class="form-control form-control-success"
                   formControlName="code" [(ngModel)]="specialitys[0].speciality_code">
            <div class="form-msg">
                <small *ngIf="form.get('code').invalid && (form.get('code').dirty || form.get('code').touched)">
                    <span *ngIf="form.get('code')['errors']['required']">{{'REQUIRED' | translate}}</span>
                    <span *ngIf="form.get('code')['errors']['maxlength']">
            {{'NMT' | translate}} {{form.get('code')['errors']['maxlength']['requiredLength']}} {{'CHAR' | translate}}
          </span>
                    <span *ngIf="form.get('code')['errors']['pattern']">{{'ND' | translate}}</span>
                </small>
            </div>
        </div>
    </div>
    <div class="form-row" [ngClass]="{'form-has-error': form.get('name').invalid && form.get('name').touched}">
        <div class="form-group col-12">
            <label>{{'DESCRIPTION' | translate}}</label>
            <input type="text" id="name" placeholder="{{'DESCRIPTION' | translate}}" class="form-control form-control-warning "
                   formControlName="name" [(ngModel)]="specialitys[0].speciality_name">
            <div class="form-msg">
                <small *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)">
                    <span *ngIf="form.get('name')['errors']['required']">{{'REQUIRED' | translate}}</span>
                    <span *ngIf="form.get('name')['errors']['maxlength']">
            {{'NMT' | translate}} {{form.get('name')['errors']['maxlength']['requiredLength']}} {{'CHAR' | translate}}
          </span>
                    <span *ngIf="form.get('name')['errors']['pattern']">{{'ERR5' | translate}}</span>
                </small>
            </div>

        </div>
    </div>
    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-sm-6 col-md-4">
            <input class="btn btn-danger col-sm-12" type="button" (click)="closeDialog()" value="{{'ADMIN.CANCEL' | translate}}">
        </div>
        <div class="form-group col-sm-6 col-md-4">
            <input *ngIf="specialitys[0].speciality_id" class="btn btn-success col-sm-12" type="submit" [disabled]="!form.valid" value="{{'EDIT' | translate}}">
            <input *ngIf="!specialitys[0].speciality_id" class="btn btn-success col-sm-12" type="submit" [disabled]="!form.valid" value="{{'ADMIN.SUBMIT' | translate}}">
        </div>
    </div>
</form>