<section class="login-section d-flex flex-column justify-content-center">
  <div class="raw">
    <div class="login-header d-flex flex-column align-items-center">
      <h1>D-Tester</h1>
      <h2>System that evaluates students automatically</h2>
    </div>
  </div>
  <div class="raw d-flex justify-content-center">
    <form class="login-form d-flex flex-column col-md-8 col-sm-10" (ngSubmit)="handleSubmit(); loginForm.reset()" #loginForm="ngForm">
      <input class="login-form__login" type="text" placeholder="login" name="enter-form-login" [(ngModel)]="login" required>
      <input class="login-form__password" type="password" placeholder="password" name="enter-form-password" [(ngModel)]="password" required>
      <input class="login-form__submit" type="submit" name="enter-form-submit" value="Log in" [disabled]="loginForm.form.invalid">
    </form>
  </div>
  <button class="logbutton" (click)="handleLogged()">isLogged</button>
  <div *ngIf="isLogged()">
    <div class="isLogged"></div>
    <button class="unlog" (click)="logOut()">Log out</button>
  </div>
</section>
