<form [formGroup]="detailForm">
    <header class="form-row justify-content-between mb-2">
        <h2 class="pl-1">Параметр тесту</h2>
        <i class="fa fa-close pr-1" (click)="dialogRef.close(false)"></i>
    </header>

    <div class="form-row">
        <div class="form-group col-12">
            <label>Рівень</label>
            <select type="number" class="form-control col-md-12" [ngClass]="{'red-border': !detailForm.controls['level'].valid
                                     && !detailForm.controls['level'].untouched}" formControlName="level">
        <option [value]=""></option>
        <option *ngFor="let item of levels"
                [value]="item">{{item}}
        </option>
      </select>
            <div class="form-msg">
                <small *ngIf="!detailForm.controls['level'].valid
                    && !detailForm.controls['level'].untouched">
          <span *ngIf="!detailForm.controls['level'].valid">Дане поле не може бути порожнім</span>
        </small>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <label>Кількість завдань</label>
            <input type="number" min="1" max="250" [ngClass]="{'red-border': !detailForm.controls['tasks'].valid
                                    && !detailForm.controls['tasks'].untouched}" formControlName="tasks" class="form-control col-md-12">
            <div class="form-msg">
                <small *ngIf="!detailForm.controls['tasks'].valid
                    && !detailForm.controls['tasks'].untouched">
          <span *ngIf="!detailForm.controls['tasks'].valid">Дане поле не може бути порожнім</span>
        </small>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <label>Кількість балів</label>
            <input type="number" min="1" max="250" [ngClass]="{'red-border': !detailForm.controls['rate'].valid
                                    && !detailForm.controls['rate'].untouched}" formControlName="rate" class="form-control col-md-12">
            <div class="form-msg">
                <small *ngIf="!detailForm.controls['rate'].valid
                    && !detailForm.controls['rate'].untouched">
          <span *ngIf="!detailForm.controls['rate'].valid">Дане поле не може бути порожнім</span>
        </small>
            </div>
        </div>
    </div>

    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-sm-6 col-md-4">
            <input class="btn btn-danger col-sm-12" type="button" (click)="dialogRef.close(false)" value="Відміна">
        </div>
        <div class="form-group col-sm-6 col-md-4">
            <!--<input class="btn btn-danger"-->
            <!--type="reset"-->
            <!--value="Очистити форму">-->
            <input type="submit" (click)="save()" class="btn btn-success col-sm-12" [disabled]="!detailForm.valid">
        </div>
    </div>
</form>