<!--
<form [formGroup]="rForm" (submit)="onSubmit()">
  <div class="example-container">
  <h2 mat-dialog-title>Редагування</h2>

  <mat-form-field>
    <input type="text" formControlName="test_name" matInput placeholder="Назава тесту">
  </mat-form-field>

    <mat-form-field>
      <input type="text" formControlName="tasks" matInput placeholder="Кількість завдань">
    </mat-form-field>


  <mat-form-field>
    <input type="text" formControlName="time_for_test" matInput placeholder="Тривалість тесту">
    <mat-hint align="end"><strong>Формат введення: гг:хх:сс</strong> </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input type="text" formControlName="attempts" matInput placeholder="Кількість спроб">
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="enabled" placeholder="Статус">
      <mat-option *ngFor="let s of enabled" [value]="s.value">{{s.text}}</mat-option>
    </mat-select>
  </mat-form-field>

  </div>
  <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Відміна</button>
      <button mat-button color="primary">Зберегти</button>
  </div>
</form>
-->

<form [formGroup]="rForm" (submit)="onSubmit()">
  <div class="form-row justify-content-end">
    <i class="fa fa-close" (click)="onNoClick()"></i>
  </div>
  <div class="form-group">
      <label for="name">Назава тесту</label>
      <input type="text" class="form-control" id="name" formControlName="test_name">
    </div>
    <div class="form-group">
      <label for="tasks">Кількість завдань</label>
      <input type="text" class="form-control" id="tasks" formControlName="tasks">
    </div>
    <div class="form-group">
      <label for="duration">Тривалість тесту</label>
      <input type="text" class="form-control" id="duration" formControlName="time_for_test">
    </div>
    <div class="form-group">
      <label for="attempts">Кількість спроб</label>
      <input type="text" class="form-control" id="attempts" formControlName="attempts">
    </div>
    <div class="form-group">
      <label>Статус</label>
      <select class="form-control" formControlName="enabled">
        <option *ngFor="let s of enabled" [value]="s.value">{{s.text}}</option>
      </select>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group">
          <button class="btn btn-danger" (click)="onNoClick()">Відміна</button>
          <button class="btn btn-primary mr-2">Зберегти</button>
      </div>
  </div>
</form>