.wrapper.count-title.d-flex {
  justify-content: center;
  text-align: center;
}

.col-xl-2.col-md-4.col-6 {
  padding: 20px 20px;
}
.icon {
  margin-right: 10px;
}

.container {
  min-width: 310px;
  height: 400px;
  max-width: 1000px;
  margin: 0 auto
}
