.mat-dialog-container {
    padding: 10px;
}

input.ng-touched.ng-invalid {
    border:solid #DC3545 2px;
}

input.ng-touched.ng-valid {
    border:solid #28A745 2px;
}

.btn-success, .btn-danger {
    margin: {
        left: 5px;
        right: 5px;
    }
}

.user-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.custom-file {
    width: 200px;
    #customFile {
        cursor: pointer;
    }
}

div.error.col-12 {
    color: #DC3545;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}

#password {
    position: relative;
}

#visibility-toggler {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 30px;
}

.header {
    margin-bottom: 10px;
    h1 {
        margin: 0 auto;
    }
    button {
        margin-left: -60px;
    }
}

label:not(.custom-file-label) {
    margin-bottom: 0;
    font-size: 1rem;
}