<div class="container-fluid">
    <div class="raw d-flex justify-content-center align-item-center">
      <h1>Редагування студента</h1>
    </div>
    <div class="row">
      <div class="col">
        <!-- Форма додавання студента -->
        <form class="form-group" 
          [formGroup]="form" 
          (submit)="handleSubmit(form.value)">
          <div class="form-row">
            <div class="form-group col-6">
              <!-- Прізвище -->
              <input 
                class="form-control col-12" 
                type="text" 
                formControlName="surname" 
                [(ngModel)]="student.student_surname"
                name="surname" placeholder="Прізвище...">
              <div 
                *ngIf="form.get('surname').invalid && (form.get('surname').dirty || form.get('surname').touched)" 
                class="alert alert-danger col-12">
                <div *ngIf="form.get('surname').errors.minlength">Мінімум 2 символи</div>
                <div *ngIf="form.get('surname').errors.required">Це поле є обов'язковим</div>
              </div>
            </div>
            <!-- Ім'я -->
            <div class="form-group col-6">
              <input 
                class="form-control col-12" 
                type="text" 
                formControlName="firstname" 
                name="firstname" 
                [(ngModel)]="student.student_name"
                placeholder="Ім'я...">
              <div 
                *ngIf="form.get('firstname').invalid && (form.get('firstname').dirty || form.get('firstname').touched)" 
                class="alert alert-danger col-12">
                <div *ngIf="form.get('firstname').errors.minlength">Мінімум 2 символи</div>
                <div *ngIf="form.get('firstname').errors.required">Це поле є обов'язковим</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <!-- По-батькові -->
              <input 
              class="form-control col-12" 
              type="text" 
              formControlName="fname" 
              name="fname" 
              [(ngModel)]="student.student_fname"
              placeholder="По-батькові...">
              <div 
                *ngIf="form.get('fname').invalid && (form.get('fname').dirty || form.get('fname').touched)" 
                class="alert alert-danger col-12">
                <div *ngIf="form.get('fname').errors.minlength">Мінімум 2 символи</div>
                <div *ngIf="form.get('fname').errors.required">Це поле є обов'язковим</div>
              </div>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-6">
                <!-- Факультет -->
                <label>Факультет</label>
                <select 
                  class="form-control col-12" 
                  id="facultySelect" 
                  name="faculty" 
                  aria-placeholder="Факультет..." 
                  #facultyField 
                  (change)="getGroups(facultyField)">
                  <option 
                    *ngFor="let faculty of faculties" 
                    [selected]="faculty.faculty_name === studentFaculty.faculty_name">
                      {{faculty.faculty_name}}
                  </option>
                </select>
              </div>
              <div class="form-group col-6">
                <!-- Група -->
                <label>Група</label>
                <select 
                  class="form-control col-12" 
                  id="groupsSelect" 
                  name="group" 
                  aria-placeholder="Група..." 
                  #groupField 
                  (change)="handleSetGroup(groupField)">
                  <option 
                    *ngFor="let group of groups"
                    [selected]="group.group_name === studentGroup.group_name">
                      {{group.group_name}}
                  </option>
                </select>
              </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <!-- Номер заліковки -->
              <input 
              class="form-control col-12" 
              type="text" 
              formControlName="gradebook" 
              name="gradebook" 
              [(ngModel)]="student.gradebook_id"
              placeholder="№ заліковки...">
              <div 
                *ngIf="form.get('gradebook').invalid && (form.get('gradebook').dirty || form.get('gradebook').touched)" 
                class="alert alert-danger col-12">
                <div *ngIf="form.get('gradebook').errors.minlength">Мінімум 3 символи</div>
                <div *ngIf="form.get('gradebook').errors.required">Це поле є обов'язковим</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <!-- Логін -->
              <input 
                class="form-control col-12" 
                type="text" 
                formControlName="login" 
                name="login" 
                [(ngModel)]="studentInfo.username"
                placeholder="Логін...">
                <div 
                  *ngIf="form.get('login').invalid && (form.get('login').dirty || form.get('login').touched)" 
                  class="alert alert-danger col-12">
                  <div *ngIf="form.get('login').errors.minlength">Мінімум 2 символи</div>
                  <div *ngIf="form.get('login').errors.required">Це поле є обов'язковим</div>
                </div>
            </div>
            <div class="form-group col-6">
              <!-- Пароль -->
              <input 
                class="form-control col-12" 
                type="text" 
                formControlName="password" 
                name="password" 
                [(ngModel)]="student.plain_password"
                placeholder="Пароль...">
                <div 
                  *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)" 
                  class="alert alert-danger col-12">
                  <div *ngIf="form.get('password').errors.minlength">Мінімум 2 символи</div>
                  <div *ngIf="form.get('password').errors.required">Це поле є обов'язковим</div>
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <!-- Пошта -->
              <input 
              class="form-control col-12" 
              type="email" 
              formControlName="email" 
              name="email" 
              [(ngModel)]="studentInfo.email"
              placeholder="Поштова скринька..."
              email>
              <div 
                *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)" 
                class="alert alert-danger col-12">
                <div *ngIf="form.get('email').errors.email">Поштова скринька повинна бути формату логін@домен</div>
                <div *ngIf="form.get('email').errors.required">Це поле є обов'язковим</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 d-flex align-items-center flex-column">
              <!-- Фото -->
              <img class="user-image" [src]="student.photo" alt="your picture">
              <div class="custom-file">
                  <input 
                    type="file" 
                    id="customFile" 
                    class="custom-file-input"
                    name="image-input"
                    accept="image/*" 
                    (change)="handleAddPhoto($event)">
                  <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <input class="btn btn-success" type="submit" [disabled]="!form.valid" value="Редагувати студента"> 
            <input class="btn btn-danger" type="reset" value="Очистити форму">
          </div>
        </form>
      </div>
    </div>
  </div>
  