.container-fluid {
    padding: 0;
}

.admin-panel {
    height: 100%;
    .side-bar {
        padding: 0;
        background-color: #393836;
        min-height: 100vh;
        .side-header {
            background-color: #292929;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .role-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-bottom: 10px;
            }
            .role {
                padding: 2px;
                font-size: 1.4rem;
                color: #323240;
                font-weight: bold;
                background-color: #727272;
                border-radius: 2px;
            }
        }
        .nav-bar {
            color: #fff;
            a {
                font-size: 1rem;
                display: flex;
                height: 45px;
                align-items: center;
                padding-left: 10px;
                transition: all 0.2s;
                text-decoration: none;
                color: #fff;
                cursor: pointer;
                &:hover {
                    font-size: 1.1rem;
                    background-color: #33b35a;
                }
                span {
                    padding-left: 10px;
                }
            }
        }
    }
    .main {
        padding: 0;
        background-color: #F4F7FA;
        .content-wrapper {
            min-height: calc(100vh - 40px);
            .header {
                background-color: #393836;
                height: 65px;
                padding-left: 48px;
                padding-right: 48px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .Headers {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .burger {
                        color: #33B357;
                        border: 1px solid #33B357;
                        border-radius: 2px;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.2s;
                        width: 40px;
                        height: 40px;
                        margin-right: 5px;
                        font-size: 2rem;
                        cursor: pointer;
                        &:hover {
                            background-color: #33B357;
                            color: #fff;
                        }
                        i:hover {
                            color: white;
                        }
                    }
                    .admin-title {
                        color: #fff;
                        font-size: 1.2rem;
                    }
                    .dtester-title {
                        margin-left: 5px;
                        color: #33B357;
                        font-size: 1.5rem;
                    }
                }
                .log-out {
                    display: inline-block;
                    cursor: pointer;
                    color: #fff;
                    border-radius: 2px;
                    transition: all 0.2s;
                    &:hover {
                        font-size: 1.1rem;
                    }
                    span {
                        margin-right: 5px;
                    }
                }
            }
            .content {

            }
        }
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            background-color: #222222;
            span {
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
}

.vertical-navigation {
    display: none;
    background-color: #222222;
    a {
        font-size: 1rem;
        display: flex;
        height: 45px;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        transition: all 0.2s;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        &:hover {
            font-size: 1.1rem;
            background-color: #33b35a;
        }
        span {
            padding-left: 10px;
        }
    }
}

.shown {
    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    .side-bar {
        display: none;
    }
    #burger {
        display: flex;
    }
}
@media (min-width: 992px) {
  .vertical-navigation {
    display: none;
  }
}


