<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="" color="primary">Головна</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/subjects" color="primary">Предмети</a></li>
      <li class="breadcrumb-item active">Тести</li>
    </ul>
    <button mat-raised-button color="primary" (click)="addDialog()">Додати тест</button>
  </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>№п/п</th>
          <th>Назва тесту</th>
          <th>Завдань</th>
          <th>Тривалість</th>
          <th>Кількість спроб</th>
          <th>Статус</th>
          <th>Редагування</th>
          <th>Список завдань</th>
          <th>Деталі</th>
          <th>Видалити</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of test; let i = index">
          <td>{{i+1}}</td>
          <td>{{t.test_name}}</td>
          <td>{{t.tasks}}</td>
          <td>{{t.time_for_test}}</td>
          <td>{{t.attempts}}</td>
          <td *ngIf="t.enabled==1;else disabled">Доступно</td>
          <ng-template #disabled>
            <td>Недоступно</td>
          </ng-template>
          <td><i class="fa fa-cog" title="Редагувати" (click)="openDialog(t, t.test_id)"></i></td>
          <td><i class="fa fa-list-ol" title="Cписок завдань {{t.test_name}}"></i></td>
          <td><i class="fa fa-file-text" title="Деталі тесту {{t.test_name}}" (click)="openDetails(t.test_id)"></i></td>
          <td><i class="fa fa-close" title="Видалити тест {{t.test_name}}" (click)="deleteTest(t.test_id)"></i></td>
        </tr>
      </tbody>
