<mat-card-title *ngIf="data.user === 'admin'">
    Ви не авторизовані для входу до панелі адміністратора
</mat-card-title>
<mat-card-title *ngIf="data.user === 'student'">
    Ви не авторизовані для входу до панелі студента
</mat-card-title>
<mat-card-content>
    Куди ви бажаєте перейти?
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="'login'"> Панель авторизації</button>
    <button *ngIf="data.user === 'admin'" mat-raised-button color="primary" [mat-dialog-close]="'student'">Панель студента</button>
    <button *ngIf="data.user === 'student'" mat-raised-button color="primary" [mat-dialog-close]="'admin'">Панель адміністратора</button>
</mat-card-actions>

