mat-card-actions {
  display: flex;
  justify-content: space-around;
}
mat-card-title, mat-card-content {
  text-align: center;
}
@media (max-width: 667px) {
  .mat-raised-button {
    padding: 0 5px;
  }
}
