<mat-card-title>
    You tried to enter {{data.user}} panel but not authorised to do this
</mat-card-title>
<mat-card-content>
    What would you like to do?
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="'login'"> Login as {{data.user}}</button>
    <button *ngIf="data.user === 'admin'" mat-raised-button color="primary" [mat-dialog-close]="'student'">Pass to student panel</button>
    <button *ngIf="data.user === 'student'" mat-raised-button color="primary" [mat-dialog-close]="'admin'">Pass to admin panel</button>
</mat-card-actions>

