.btn-danger, .btn-success {
	margin: 2px;
}

.title {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.facultyName, .form-group.row, .labels {
	margin-bottom: 0;
}

i {
    cursor: pointer;
}

.inputMessage {
  font-size: smaller;
}




