<section>
    <div class="content-wrapper">
        <header class="header">
            <div class="Headers">
                <span class="admin-title">{{'STUDENT.PAGE' | translate }}</span>

            </div>
            <div class="dtester-title">D-TESTER</div>
            <select #langSelect (change)="data.setLang(langSelect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
              </select>
            <a class="log-out" (click)="this.authService.logout()">
                <span>{{'STUDENT.EXIT' | translate }}</span>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </header>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 info">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" aria-labelledby="ngb-tab-10">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-center">{{ 'STUDENT.TESTLIST'| translate }} "{{user.group_name}}"</h3>
                                <div class="container-fluid">
                                    <div class="">
                                        <button class="btn btn-secondary" (click)='getAllSubjects()'>{{ 'STUDENT.TOTAL' | translate }}</button>
                                        <button class="btn btn-secondary" (click)='getTime(0,true)'>{{ 'STUDENT.TODAY' | translate }}</button>
                                        <button class="btn btn-secondary" (click)='getTime(1,true)'>{{ 'STUDENT.TOMORROW' | translate }}</button>
                                        <button class="btn btn-secondary" (click)='getTime(7,false)'>{{ 'STUDENT.WEEK' | translate }}</button>
                                        <button class="btn btn-secondary" (click)='getTime(31,false)'>{{ 'STUDENT.MONTH' | translate }}</button>
                                    </div>
                                    <div class="table-responsive">
                                        <div *ngIf="studentService.infoTestId != null">
                                            <div class="text-center testName"> {{'STUDENT.PASSING' | translate}}: 
                                                <span (click)="crossTest(studentService.infoTestId)">{{studentService.infoTestName}}</span>
                                            </div>
                                        </div>
                                        <table class="table table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>{{ 'STUDENT.SUBJECT' | translate}}</th>
                                                    <th>{{ 'STUDENT.DURATION' | translate }}</th>
                                                    <th>{{ 'STUDENT.QUESTION' | translate }}</th>
                                                    <th>{{ 'STUDENT.TIME' | translate}}</th>
                                                    <th>{{ 'STUDENT.START' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngIf="filteredSubjects.length">
                                                    <ng-container *ngFor="let key of filteredSubjects">
                                                        <ng-container *ngFor="let list of key.subject">
                                                            <tr *ngFor="let tests of list.tests" class="text-center">
                                                                <ng-container *ngIf="list.ready">
                                                                    <ng-container *ngIf="tests.enabled==1">
                                                                        <td>
                                                                            {{list.subject_name}} :
                                                                            <br>{{tests.test_name}}
                                                                        </td>
                                                                        <td>
                                                                            <span>
                                                                                {{key.start_date}}
                                                                                <br>{{key.start_time}}

                                                                            </span>
                                                                            <span>
                                                                                {{key.end_date}}
                                                                                <br>{{key.end_time}}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            {{tests.tasks}}
                                                                        </td>
                                                                        <td>
                                                                            {{tests.time_for_test}}
                                                                        </td>
                                                                        <td>
                                                                            <i class="fa fa-play-circle" aria-hidden="true" (click)="startTest(user.user_id, tests.test_id)"></i>
                                                                        </td>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </tr>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 info text-center" *ngIf="user.ready">
                <h3>{{'STUDENT.PROFILE' | translate}}</h3>
                <span>
                    <img alt="Ваше фото не завантажене" class="img-responsive img-circle center-block" [src]="user.photo">
                </span>
                <h4> {{user.student_name}} {{user.student_surname}} </h4>
                <p class="text-left">
                    <b>{{'STUDENT.FACULTY' | translate}}:</b> {{user.faculty_name}}</p>
                <p class="text-left">
                    <b>{{'STUDENT.SPECIALITY' | translate}}:</b> {{user.speciality_code}} : {{user.speciality_name}} </p>
                <p class="text-left">
                    <b>{{'STUDENT.GROUP' | translate}}:</b>
                    {{user.group_name}}
                </p>
                <p class="text-left">
                    <b>{{'STUDENT.GRADEBOOK' | translate}}:</b> {{user.gradebook_id}}
                </p>
            </div>
        </div>
    </div>
</section>