header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0.8em;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 10px 0;
    input.form-control{
        width: 13em;
    }
    > *{
        margin: 5px;
    }
}

