<div class="col-md-12">

  <h2>Test list</h2>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>Назва тесту</th>
      <th>Завдань</th>
      <th>Тривалість</th>
      <th>Статус</th>
      <th>Доступність</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of tests">
      <td>{{item.test_name}}</td>
      <td>{{item.tasks}}</td>
      <td>{{item.time_for_test}}</td>
      <td>{{item.attempts}}</td>
      <td>{{item.enabled  === "1" ? "Так" : "Ні" }}</td>
      <td><a [routerLink]="['details', item.test_id]" ><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>
