<form [formGroup]="rForm" (submit)="onSubmit()">
    <div class="form-row justify-content-end">
      <i class="fa fa-close" (click)="onNoClick()"></i>
    </div>

    <div class="form-group">
      <label for="name">Назава тесту</label>
      <input type="text" class="form-control" id="name" placeholder="Назва тесту" formControlName="test_name">
      <div *ngIf="test_name.invalid && (test_name.dirty || test_name.touched)" class="alert alert-danger">
        <div *ngIf="test_name.errors.required">
        Поле обов'язкове для заповнення.
        </div>
      <div *ngIf="test_name.errors.minlength">
        Це поле має містити більше 2 або більше символів.
      </div>
      <div *ngIf="test_name.errors.maxlength">
          Це поле може містити не більше 70 символів.
      </div>
    </div>
    </div>

      <div class="form-group">
        <label for="tasks">Кількість завдань</label>
        <input type="text" class="form-control" id="tasks" placeholder="Кількість завдань" formControlName="tasks" required>
        <div *ngIf="tasks.invalid && (tasks.dirty || tasks.touched)" class="alert alert-danger">
          <div *ngIf="tasks.errors.required">
            Поле обов'язкове для заповнення.
          </div>
          <div *ngIf="tasks.errors.maxlength">
            Максимум 3 символи.
          </div>
          <div *ngIf="tasks.errors.forbiddenChar">
            Дане поле може містити лише цифри.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="duration">Тривалість тесту</label>
        <input type="text" class="form-control" id="duration" placeholder="Тривалість тесту" formControlName="time_for_test">
      </div>

      <div class="form-group">
        <label for="attempts">Кількість спроб</label>
        <input type="text" class="form-control" id="attempts" placeholder="Кількість спроб" formControlName="attempts">
        <div *ngIf="attempts.invalid && (attempts.dirty || attempts.touched)" class="alert alert-danger">
          <div *ngIf="attempts.errors.required">
            Поле обов'язкове для заповнення.
          </div>
          <div *ngIf="attempts.errors.maxlength">
            Максимум 2 символи.
          </div>
          <div *ngIf="attempts.errors.forbiddenChar">
            Дане поле може містити лише цифри.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Статус</label>
        <select class="form-control" formControlName="enabled" required>
          <option *ngFor="let s of enabled" [value]="s.value">{{s.text}}</option>
        </select>
        <div *ngIf="status.invalid && status.touched" class="alert alert-danger">
          <div *ngIf="status.errors.required">Поле обов'язкове для заповнення.</div>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group">
            <button class="btn btn-danger" (click)="onNoClick()">Відміна</button>
            <button class="btn btn-primary mr-2">Зберегти</button>
        </div>
    </div>
</form>
