<form [formGroup]="rForm">
    <header class="form-row justify-content-between mb-2">
        <h2 class="pl-1">{{'ADMIN.ADDT' | translate}}</h2>
        <i class="fa fa-close pr-1" (click)="onNoClick()"></i>
    </header>

    <div class="form-row">
        <div class="form-group col-12">
            <label for="name">{{'ADMIN.NT' | translate}}</label>
            <input type="text" class="form-control" id="name" placeholder="{{'ADMIN.NT' | translate}}" formControlName="test_name">
            <div class="form-msg">
                <small *ngIf="test_name.invalid && (test_name.dirty || test_name.touched)">
                <span *ngIf="test_name.errors.required">
                    {{'REQUIRED' | translate}}
                </span>
                <span *ngIf="test_name.errors.minlength">
                    {{'MT2' | translate}}
                </span>
                <span *ngIf="test_name.errors.maxlength">
                    {{'N70' | translate}}
                </span>
                <span *ngIf="test_name.errors.forbiddenChar">
                        {{'ESPACE' | translate}}
                </span>
            </small>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <label for="tasks">{{'KZ' | translate}}</label>
            <input type="text" class="form-control" id="tasks" placeholder="{{'KZ' | translate}}" formControlName="tasks" required>
            <div class="form-msg">
                <small *ngIf="tasks.invalid && (tasks.dirty || tasks.touched)">
                <span *ngIf="tasks.errors.required">
                    {{'REQUIRED' | translate}}
                </span>
                <span *ngIf="tasks.errors.maxlength">
                    {{'M3' | translate}}
                </span>
                <span *ngIf="tasks.errors.forbiddenChar">
                    {{'OD' | translate}}
                </span>
            </small>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <label for="duration">{{'ADMIN.TEST.DURATION' | translate}}</label>
            <input type="text" class="form-control" id="duration" placeholder="{{'ADMIN.TEST.DURATION' | translate}}" formControlName="time_for_test">
            <div class="form-msg">
                <small *ngIf="time_for_test.invalid && (time_for_test.dirty || time_for_test.touched)">
                <span *ngIf="time_for_test.errors.required">
                    {{'REQUIRED' | translate}}
                </span>
                <span *ngIf="time_for_test.errors.maxlength">
                        {{'M3' | translate}}
                </span>
                <span *ngIf="time_for_test.errors.forbiddenChar">
                    {{'OD' | translate}}
                </span>
            </small>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <label for="attempts">{{'KS' | translate}}</label>
            <input type="text" class="form-control" id="attempts" placeholder="{{'KS' | translate}}" formControlName="attempts">
            <div class="form-msg">
                <small *ngIf="attempts.invalid && (attempts.dirty || attempts.touched)">
                <span *ngIf="attempts.errors.required">
                    {{'REQUIRED' | translate}}
                </span>
                <span *ngIf="attempts.errors.maxlength">
                    {{'MT2' | translate}}
                </span>
                <span *ngIf="attempts.errors.forbiddenChar">
                    {{'OD' | translate}}
                </span>
            </small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>{{'S' | translate}}</label>
        <select class="form-control" formControlName="subject_id" [(ngModel)]="s_id">
            <option *ngFor="let s of subjects" [value]="s.subject_id">{{s.subject_name}}</option>
        </select>
        <div class="form-msg">
          <small *ngIf="subject_id.invalid && subject_id.touched">
            <div *ngIf="subject_id.errors.required">{{'REQUIRED' | translate}}</div>
          </small>
        </div>
      </div>

    <div class="form-row">
        <div class="form-group col-12">
            <label>{{'ADMIN.TEST.STATUS' | translate}}</label>
            <select class="form-control" formControlName="enabled" required>
                <option *ngFor="let s of enabled" [value]="s.value">{{s.text}}</option> 
            </select>
            <div class="form-msg">
                <small *ngIf="status.invalid && status.touched">
                <span *ngIf="status.errors.required">{{'REQUIRED' | translate}}</span>
            </small>
            </div>
        </div>
    </div>

    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-sm-6 col-md-4">
            <button class="btn btn-danger col-sm-12" (click)="onNoClick()">{{'ADMIN.CANCEL' | translate}}</button>
        </div>
        <div class="form-group col-sm-6 col-md-4">
            <button class="btn btn-success col-sm-12" (click)="onSubmit()" [disabled]="!rForm.valid">{{'ADMIN.SUBMIT' | translate}}</button>
        </div>
    </div>
</form>