.delete-confirm {
    display: flex;
    flex-direction: column;
    .top, .middle, .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        h3 {
            text-align: center;
        }
    }
}