<section>
  <div class="container-fluid">
    <header> 
            
           <!-- <h1 class="h3 display ">{{ title_component }}
                <span>
                  <select 
                    class="col-12" 
                    id="testSelect" 
                    selName="$event.target.value" 
                    (change)="setSelectedTestName($event.target.value)"
                    (change)="fillOutQuestionsTable($event.target.value)"
                    >
                    <option disabled>Виберіть тест</option>
                    <option *ngFor="let t of testNameSet" [value]="t" >
                      {{t}}

                    </option>
                    
                  </select>
                </span>
                
            </h1>

            <button mat-raised-button class="btn btn-primary" 
            (click)="openModalAdd(selectedTestId, setSelectedTestName($event.target.value, selName))">Додати завдання</button>-->

    </header> 
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>№</th>
                    <th>Завдання</th>
                    <th>Тест</th>
                    <th>question_id</th>
                    <th>Рівень</th>
                    <th>Тип</th>
                    <th>Вкладення</th>
                    <th colspan="2">Керування</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let question of questionsRange; let i = index">
                    <th>{{i+1}}</th>
                    <td>{{question.question_text}} </td>
                    <td>{{question.test}} </td>
                    <td>{{question.question_id}} </td>
                    <td>{{question.level}}</td>
                    <td>{{question.type}}</td>
                    <td>{{question.attachment}}</td>
                    <td><i class="fa fa-cog" routerLink="/admin/add-question"></i></td>
                    <td><i class="fa fa-close" ></i></td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="length"
                             [pageSize]="pageSize"
                             [pageSizeOptions]="[5, 10, 25, 100]"
                             [pageIndex]="pageIndex"
                             [showFirstLastButtons]="true"
                             (page) = "pageEvent = displayQuestions($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

