header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 0.8rem;
    h1 {
        margin: 0;
    }
}

.card {
    margin: 0;
}

table {
    margin: 0;
}

.table-colspan {
    text-align: center;
}

.fa.fa-cog, .fa.fa-close, .fa.fa-address-card {
    cursor: pointer;
}