<section>
  <!-- Таблиця з студентами -->
  <div class="container-fluid">
    <header> 
      <div>
          <h1 class="h3 display">Студенти</h1>
          <div class="search-field">
            <input type="text" [(ngModel)]="searchString" placeholder="Пошук..." class="search">
          </div>
      </div>
      <button type="button" class="btn btn-success" (click)="showRegForm()">Додати студента</button>
    </header>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ПІБ</th>
                    <th>№ залікової книжки</th>
                    <th>Група</th>
                    <th class="table-colspan" colspan="2">Керування</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students | searchStudent: searchString | paginate: config; let i = index">
                    <th>{{(config.currentPage - 1) * config.itemsPerPage + i +1}}</th>
                    <td>{{student.fullName}}</td>
                    <th>{{student.gradebook_id}}</th>
                    <th>{{student.group}}</th>
                    <td><i class="fa fa-address-card" aria-hidden="true" title="Детальна інформація" (click)="showAdvancedInfo(student)"></i></td>
                    <td><i class="fa fa-cog" (click)="showEditForm(student)" title="Редагувати"></i></td>
                    <td><i class="fa fa-close" (click)="handleDelete(student.user_id)" title="Видалити"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <pagination-controls class="pagination justify-content-center" (pageChange)="config.currentPage=$event" previousLabel="<<" nextLabel=">>" autoHide="true"></pagination-controls>
      </div>
    </div>
  </div>
</section>
