<section>
  <!-- Main table with students -->
  <div class="container-fluid">
    <header> 
      <div class="raw d-flex justify-content-start align-items-center">
          <h1 class="h3 display">Студенти</h1>
      </div>
      <button type="button" class="btn btn-success" (click)="showRegForm()">Додати студента</button>
    </header>
    <div class="col-lg-12">
      <div class="row d-flex justify-content-between align-items-center filters">
        <!-- Search input -->
        <div class="col-sm-12 col-md-3">
          <input
            type="text"
            [(ngModel)]="searchString"
            placeholder="Пошук..."
            class="form-control search">
        </div>
        <!-- List of faculties (dropdown) -->
        <div class="col-sm-12 col-md-4">
          <select
            name="facultyFilter"
            class="form-control faculty-filter"
            #facultySelector
            (change)="getGroups(facultySelector)">
            <option
              [selected]="false"
              value="Виберіть факультет">
              Виберіть факультет
            </option>
            <option
              *ngFor="let faculty of faculties">
              {{faculty.faculty_name}}
            </option>
          </select>
        </div>
        <!-- List of groups (dropdown) -->
        <div class="col-sm-12 col-md-4">
          <select
            name="groupFilter"
            #groupsList
            class="form-control group-filter"
            (change)="getFiltredStudentsByGroup(groupsList)">
            <option
              [selected]="true">
              Виберіть групу
            </option>
            <option
              *ngFor="let group of groups">
              {{group.group_name}}
            </option>
          </select>
        </div>
        <!-- refresh button -->
        <div class="col-sm-12 col-md-1 d-flex justify-content-center">
            <button
              type="button"
              title="Очистити фільтри"
              class="fa fa-refresh"
              [disabled]="searchString.length < 1 && filterByGroupStr === 'Виберіть групу'"
              (click)="resetFilters()">
            </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr class="d-flex">
                    <th class="col-1">№</th>
                    <th class="col-5">ПІБ</th>
                    <th class="col-2">№ залікової книжки</th>
                    <th class="col-2">Група</th>
                    <th class="table-colspan col-2" colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students | searchStudent: searchString | paginate: config; let i = index" class="d-flex">
                    <th class="col-1">{{(config.currentPage - 1) * config.itemsPerPage + i +1}}</th>
                    <td class="col-5">{{student.fullName}}</td>
                    <th class="col-2">{{student.gradebook_id}}</th>
                    <th class="col-2">{{student.group}}</th>
                    <td colspan="3" class="col-2 d-flex justify-content-between">
                      <i class="fa fa-address-card" aria-hidden="true" title="Детальна інформація" (click)="showAdvancedInfo(student)"></i>
                      <i class="fa fa-cog" (click)="showEditForm(student)" title="Редагувати"></i>
                      <i class="fa fa-close" (click)="handleDelete(student.user_id)" title="Видалити"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <pagination-controls class="pagination justify-content-center" (pageChange)="config.currentPage=$event" previousLabel="<<" nextLabel=">>" autoHide="true"></pagination-controls>
      </div>
    </div>
  </div>
</section>
